<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>playstore-Analyzer</title>

<body style=" background-color: lightblue">

<a href="../"><button class="btn btn-info"><< home</button></a><br>
<div class="container">
        <h5 style="color:rgb(23, 160, 64);" >{{k2[:5]}}</h5><br> 


        <h5 style="color:rgb(23, 160, 64);">{{k1[:5]}}</h5><br>

      <br>
      <img src="{{ img }}" alt="User Image">
    </div>
</body>

</html>